.contacts-line {
  padding: 10px 0;
  &__contacts {
    display: inline;
    a {
      transition: $time;
      svg {
        opacity: 0.8;
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
      path {
        fill: white;
      }
      span {
        color: white;
        font-size: 16px;
        opacity: 0.8;
      }
      &:hover {
        color: white !important;
        transition: $time;
        svg,
        path,
        span {
          transition: $time;
          opacity: 1;
        }
      }
    }
  }
  &__tel {
    margin-left: 20px;
  }
  &__social {
    display: flex;
    justify-content: flex-end;
    width: 120px;
    margin-left: auto;
    a {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      svg {
        opacity: 0.8;
        width: 20px;
        height: 20px;
        transition: $time;
        &:hover {
          opacity: 1;
          transition: $time;
        }
      }
      path {
        fill: white;
      }
    }
  }
}

.index-header {
  &__top-contacts {
    background-color: #3a2e33;
  }
  &__nav {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    height: 80px;
    z-index: 9999;
    background: #fff;
    box-shadow: 0px 0px 14px 0px rgba(77, 82, 94, 0.15);
    &.nav-fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      .index-header__content {
        margin-top: 80px;
      }
    }
  }

  &__content {
    position: relative;
    display: block;
    padding: 10% 0;
    background: url(/img/src/index-header-bg.jpg) no-repeat center;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
    &.content-fixed {
      margin-top: 80px;
    }
  }
  &__content-inner {
    position: relative;
  }
  &__title {
    color: #fff;
    font-weight: bold;
    max-width: 300px;
    line-height: 50px;
    text-transform: none;
    opacity: 0.9;
  }
  &__text {
    max-width: 450px;
    margin-top: 40px;
    color: #fff;
    opacity: 0.9;
  }
  &__buttons {
    display: flex;
    justify-content: flex-start;
    width: 362px;
  }
  &__btn {
    display: block;
    margin-top: 35px;
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    color: #fff;
    opacity: 0.9;
    &:hover {
      color: #fff;
    }
    svg {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 5px;
    }
    path {
      fill: #fff;
    }
  }
  &__btn--blue {
    background: $mainColor;
    &:hover {
      background: transparent;
    }
  }
  &__btn--transparent {
    &:hover {
      background: $mainColor;
    }
  }
}

.nav-menu {
  background-color: #fff;
  &__logo {
    img {
      width: 50px;
      height: 50px;
      display: inline-block;
    }
    span {
      margin-left: 10px;
      font-size: 19px;
      color: $textcolor;
      font-weight: bold;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item {
    position: relative;
    margin-right: 50px;
    padding: 10px 0;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      .nav-menu__link {
        span {
          transform: translateY(100%);
        }
        img {
          transform: rotate(0deg);
        }
        &::after {
          transform: translateY(0);
        }
      }
      .nav-menu__sub-list {
        visibility: visible;
        opacity: 1;
        transition: all 0.2s ease-in;
      }
    }
  }
  &__link {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: $textcolor;
    overflow: hidden;
    span {
      transform: translateY(0);
      transition: all 0.4s;
    }
    img {
      margin-left: 5px;
      width: 15px;
      height: 15px;
      transform: rotate(180deg);
    }
    &::after {
      content: attr(data-title);
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-100%);
      width: 100%;
      transition: all 0.4s;
      color: $mainColor;
    }
  }
  &__sub-list {
    position: absolute;
    top: 40px;
    min-width: 200px;
    z-index: 2;
    background: #fff;
    box-shadow: 2px 4px 20px 1px rgba(45, 45, 45, 0.13);
    padding: 25px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in;
  }
  &__sub-item {
    position: relative;
    margin: 20px 0;
    overflow: hidden;
    &:hover {
      .nav-menu__sub-link {
        span {
          transform: translateY(100%);
        }

        &::after {
          transform: translateY(0);
        }
      }
    }
  }
  &__sub-link {
    display: flex;
    align-items: center;

    span {
      display: inline-block;
      font-size: 16px;
      color: $textcolor;
      transform: translateY(0);
      transition: all 0.4s;
    }
    &::after {
      content: attr(data-name);
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-100%);
      width: 100%;
      transition: all 0.4s;
      font-size: 16px;
      color: $mainColor;
    }
  }
  &__search-label {
    display: block;
    position: relative;
    margin-bottom: 0;
    width: 200px;
    margin-left: auto;
    input {
      padding: 0 15px;
      border-radius: 25px;
      border: 1px solid transparent;
      box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
      font-size: 13px;
      line-height: 25px;
      color: $textcolor;
      transition: all 0.1s ease-in;
      &:hover {
        box-shadow: 0 2px 8px 1px rgba(64, 60, 67, 0.24);
        border-color: rgba(223, 225, 229, 0);
      }
    }
    span {
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      right: 15px;
      margin-top: -10px;
      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      path {
        fill: $mainColor;
      }
    }
  }
}

.our-services {
  padding: 70px 0;
  &__item {
    margin-bottom: 45px;
  }
  &__title {
    text-align: center;
    margin-bottom: 56px;
    p {
      color: $mainColor;
    }
    h2 {
      font-size: 40px;
      font-weight: bold;
      text-transform: none;
    }
  }
}

.services-card {
  position: relative;
  display: block;
  padding: 24px;
  border-radius: 10px;
  transition: $time;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #d2d2de;
    border-radius: 10px;
  }
  &:hover::after {
    border-color: transparent;
  }
  &:hover {
    color: #fff;
    background: $mainColor;
    .services-card__icon-wrapp {
      background: #fff;
    }
    .services-card__icon {
      fill: $mainColor;
    }
  }
  &__icon-wrapp {
    margin: 0 auto 16px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: $mainColor;
    transition: $time;
  }
  &__icon {
    fill: #fff;
    display: block;
    width: 50px;
    height: 50px;
    transition: $time;
  }
  &__title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
    text-transform: none;
  }
  &__text {
    text-align: center;
  }
}

.icon-facebook {
  fill: blue;
  display: block;
  width: 40px;
  height: 40px;
  &:hover {
    fill: red;
  }
}
