.btn {
  --width: 100%;
  --time: 0.7s;
  position: relative;
  display: inline-block;
  padding: 8px 16px;
  color: white;
  overflow: hidden;
  border-radius: 6px;
  background: transparent;
  border: 1px solid $textcolor;
  p {
    display: inline;
    position: relative;
    color: $textcolor;
    z-index: 5;
    transition: color var(--time);
  }
  span {
    border-radius: 100%;
    position: absolute;
    display: block;
    content: '';
    z-index: 0;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    transition: width var(--time), padding-top var(--time);
  }
  &:hover {
    span {
      width: calc(var(--width) * 2.25);
      padding-top: calc(var(--width) * 2.25);
    }
  }
  &.FLASH {
    span {
      background: #ff3b3b;
    }
    &:hover {
      p {
        color: white;
      }
    }
  }
  &__icon {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-left: 8px;
    fill: $textcolor;
    transition: all 0.5s ease;
  }

  &--blue {
    display: inline-block;
    .btn {
      p {
        color: #fff;
      }
      .btn__icon {
        fill: #fff;
      }
      border: none;
      background: rgba(40, 118, 226, 1);
      background: -moz-linear-gradient(
        left,
        rgba(40, 118, 226, 1) 0%,
        rgba(62, 141, 251, 1) 100%
      );
      background: -webkit-gradient(
        left top,
        right top,
        color-stop(0%, rgba(40, 118, 226, 1)),
        color-stop(100%, rgba(62, 141, 251, 1))
      );
      background: -webkit-linear-gradient(
        left,
        rgba(40, 118, 226, 1) 0%,
        rgba(62, 141, 251, 1) 100%
      );
      background: -o-linear-gradient(
        left,
        rgba(40, 118, 226, 1) 0%,
        rgba(62, 141, 251, 1) 100%
      );
      background: -ms-linear-gradient(
        left,
        rgba(40, 118, 226, 1) 0%,
        rgba(62, 141, 251, 1) 100%
      );
      background: linear-gradient(
        to right,
        rgba(40, 118, 226, 1) 0%,
        rgba(62, 141, 251, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2876e2', endColorstr='#3e8dfb', GradientType=1 );
    }
    span {
      background: #2876e2;
    }
  }
  &--black {
    display: inline-block;
    margin-left: 20px;
    .btn {
      border: 1px solid #fff;
      p {
        color: #fff;
      }
      .btn__icon {
        fill: #fff;
      }
      &:hover {
        p {
          color: #fff;
        }
        .btn__icon {
          fill: #fff;
        }
      }
    }
    span {
      background: $textcolor;
    }
  }
}

.animated {
  --angle: 5deg;
  animation: shake 0.3s;
}

@keyframes shake {
  25% {
    transform: rotate(calc(var(--angle) * -1));
  }

  50% {
    transform: rotate(var(--angle));
  }

  100% {
    transform: rotate(0deg);
  }
}

.choose-card {
  position: relative;
  display: flex;
  &__number {
    margin-right: 0.3125rem;
    span {
      position: relative;
      font-size: 1.0625rem;
      font-weight: bold;
      color: $mainColor;
      &::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 3.25rem;
        background-color: $textcolor;
        top: 50%;
        left: 130%;
      }
    }
  }
  &__inner {
    margin-left: 3.75rem;
    h4 {
      margin-bottom: 1.25rem;
    }
    p {
      color: #63636b;
    }
  }
}

.choose {
  padding: 80px 0;
  background-color: $bgcolor;
  &__item {
    margin-bottom: 45px;
  }
  &__title {
    margin-bottom: 3.5rem;
    text-align: center;
    p {
      color: $mainColor;
    }
  }
}

.contacts-line {
  padding: 10px 0;
  &__contacts {
    display: inline;
    a {
      span {
        color: #fff;
        font-size: 16px;
        opacity: 0.8;
        margin-left: 10px;
        transition: $time;
      }
      &:hover {
        span {
          transition: $time;
          opacity: 1;
        }
        .contacts-line__icon {
          transition: $time;
          opacity: 1;
        }
      }
    }
  }
  &__tel {
    margin-left: 20px;
  }
  &__social {
    display: flex;
    justify-content: flex-end;
    width: 120px;
    margin-left: auto;
    li {
      margin-right: 10px;
    }
    a {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      svg {
        opacity: 0.8;
        width: 20px;
        height: 20px;
        transition: $time;
        &:hover {
          opacity: 1;
          transition: $time;
        }
      }
      path {
        fill: white;
      }
    }
  }
  &__callback {
    display: inline;
    margin-left: 50px;
    &:hover {
      span,
      .contacts-line__icon {
        opacity: 1;
      }
      span {
        border-bottom: 1px solid #fff;
      }
    }
    span {
      border-bottom: 1px dashed #fff;
      color: #fff;
      margin-left: 5px;
      opacity: 0.8;
      transition: $time;
    }
  }
  &__icon {
    fill: #fff;
    width: 20px;
    height: 20px;
    opacity: 0.8;
    transition: $time;
  }
}

/*Button Toggle Sidebar-Start*/
.hamburger {
  display: flex;
  width: 24px;
  height: 18px;
  justify-content: center;
  align-items: center;
  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  &__menu {
    width: 100%;
    height: 2px;
    background-color: $textcolor;
    transition: $time;
    &::before,
    &::after {
      position: absolute;
      content: '';
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $textcolor;
      transition: $time;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
  &__menu {
    &--active {
      background-color: transparent;
      &::before {
        top: 50%;
        margin-top: -1px;
        transform: rotate(45deg);
        transition: $time;
      }
      &::after {
        bottom: 50%;
        margin-bottom: -1px;
        transform: rotate(-45deg);
        transition: $time;
      }
    }
  }
}
/*Button Toggle Sidebar-End*/
/*Side bar - End*/

.index-header {
  &__overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: $time;
    cursor: pointer;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.5;
    }
    &--active {
      display: block;
    }
  }
  &__top-contacts {
    background-color: #282725;
  }
  &__nav {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    height: 80px;
    z-index: 100;
    background: #fff;
    box-shadow: 0px 0px 14px 0px rgba(77, 82, 94, 0.15);
    &.nav-fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      .index-header__content {
        margin-top: 80px;
      }
    }
  }

  &__content {
    display: block;
    padding: 10% 0;
    background: url(/img/src/index-header-bg2-overlay.jpg) no-repeat center top /
      cover;
    &.content-fixed {
      margin-top: 80px;
    }
  }
  &__offer {
    text-align: center;
  }
  &__title {
    color: #fff;
    font-weight: bold;
    line-height: 50px;
    text-transform: none;
    opacity: 0.9;
  }
  &__text {
    max-width: 450px;
    margin-top: 40px;
    color: #fff;
    opacity: 0.9;
    margin: 50px auto;
  }
  &__buttons {
    text-align: center;
    @include media(577px) {
      .btn--black {
        display: block;
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
}

.merit {
  padding: 80px 0;
  &__years {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    &::before,
    &::after {
      position: absolute;
      content: '';
      border-radius: 50%;
      background: rgba(42, 120, 228, 1);
      background: -moz-linear-gradient(
        left,
        rgba(42, 120, 228, 1) 0%,
        rgba(61, 140, 250, 1) 100%
      );
      background: -webkit-gradient(
        left top,
        right top,
        color-stop(0%, rgba(42, 120, 228, 1)),
        color-stop(100%, rgba(61, 140, 250, 1))
      );
      background: -webkit-linear-gradient(
        left,
        rgba(42, 120, 228, 1) 0%,
        rgba(61, 140, 250, 1) 100%
      );
      background: -o-linear-gradient(
        left,
        rgba(42, 120, 228, 1) 0%,
        rgba(61, 140, 250, 1) 100%
      );
      background: -ms-linear-gradient(
        left,
        rgba(42, 120, 228, 1) 0%,
        rgba(61, 140, 250, 1) 100%
      );
      background: linear-gradient(
        to right,
        rgba(42, 120, 228, 1) 0%,
        rgba(61, 140, 250, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a78e4', endColorstr='#3d8cfa', GradientType=1 );
      @include media(577px) {
        display: none;
      }
    }
    &::before {
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
    }
    &::after {
      top: 30%;
      right: 0;
      width: 34px;
      height: 34px;
    }
  }
  &__years-wrapp {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 180px;
    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 320px;
      height: 320px;
      border-radius: 50%;
      @include media(577px) {
        width: 230px;
        height: 230px;
      }
    }
    &::before {
      top: -35%;
      left: -80%;
      background-color: $mainColor;
      @include media(577px) {
        left: -35%;
      }
    }
    &::after {
      top: -22%;
      left: -40%;
      background-color: #fff;
      box-shadow: 11.35px 22.275px 25.92px 1.08px rgba(14, 62, 129, 0.29);
      @include media(577px) {
        left: -15%;
      }
    }
  }
  &__years-number {
    display: block;
    line-height: 1;
    font-weight: bold;
    font-size: 9rem;
    color: $mainColor;
    z-index: 1;
    text-align: center;
    @include media(577px) {
      font-size: 6.25rem;
    }
  }
  &__years-text {
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 220px;
      height: 220px;
      border-radius: 50%;
      background-color: #fff;
    }
    &::before {
      top: -100%;
      left: -100%;
      opacity: 0.1;
    }
    &::after {
      top: -80%;
      left: -80%;
      opacity: 0.15;
    }
    @include media(577px) {
      font-size: 1.25rem;
    }
  }
  &__skills {
    padding-left: 100px;
    @include media(991px) {
      padding-left: 0px;
    }
  }
  &__list {
    @include media(991px) {
      display: flex;
      justify-content: space-between;
      margin-top: 100px;
    }
    @include media(577px) {
      flex-direction: column;
    }
  }
  &__skills-number {
    font-size: 2.5rem;
    color: $mainColor;
    font-weight: bold;
    @include media(991px) {
      display: block;
      text-align: center;
    }
  }
  &__skills-text {
    font-size: 1.5rem;
    font-weight: bold;
    @include media(577px) {
      text-align: center;
    }
  }
}

.nav-menu {
  background-color: #fff;
  &__logo {
    @include media(991px) {
      margin-right: -95px;
    }
    img {
      width: 50px;
      height: 50px;
      display: inline-block;
    }
    span {
      margin-left: 10px;
      font-size: 19px;
      color: $textcolor;
      font-weight: bold;
    }
  }
  &__list-wrapp {
    transition: $time;
    @include media(991px) {
      display: block;
      position: absolute;
      top: 15px;
      left: -322px;
      width: 100%;
      max-width: 320px;
      min-height: 100vh;
      background: #fff;
      font-size: 16px;
      &--active {
        left: 0;
      }
    }
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    @include media(991px) {
      display: block;
      background: #f0f4f8;
      overflow-y: auto;
    }
  }
  &__item {
    position: relative;
    margin-right: 50px;
    padding: 10px 0;
    &:last-child {
      margin-right: 0;
    }
    @include minmedia(991px) {
      &:hover {
        .nav-menu__link {
          span {
            transform: translateY(100%);
          }
          img {
            transform: rotate(0deg);
          }
          &::after {
            transform: translateY(0);
          }
        }
        .nav-menu__sub-list {
          visibility: visible;
          opacity: 1;
          transition: all 0.2s ease-in;
        }
      }
    }
    @include media(991px) {
      max-height: 50px;
      margin-right: 0px;
      border-bottom: 1px solid #fff;
      overflow: hidden;
      transition: $time;
      padding: 0;
      &--active {
        max-height: 500px;
        .nav-menu__link-wrapp {
          background-color: #2c7ae7;
        }
        .nav-menu__link {
          span {
            color: #fff;
          }
        }
        .nav-menu__icon {
          fill: #fff;
          transform: rotate(180deg);
        }
        .nav-menu__sub-list {
          visibility: visible;
          opacity: 1;
        }
      }
      &:first-child {
        padding-top: 0;
      }
    }
  }
  &__link-wrapp {
    @include media(991px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 0 0 20px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: $textcolor;
    overflow: hidden;
    span {
      transform: translateY(0);
      transition: all 0.4s;
    }
    img {
      margin-left: 5px;
      width: 15px;
      height: 15px;
      transform: rotate(180deg);
      transition: $time;
      @include media(991px) {
        display: none;
      }
    }
    &::after {
      content: attr(data-title);
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-100%);
      width: 100%;
      transition: all 0.4s;
      color: $mainColor;
    }
    @include media(991px) {
      line-height: 50px;
      white-space: nowrap;
      display: flex;
      justify-content: space-between;
    }
  }
  &__wrapp-img {
    display: none;
    @include media(991px) {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 17%;
      height: 50px;
      border-left: 1px solid #fff;
    }
  }
  &__icon {
    width: 12px;
    height: 12px;
  }
  &__sub-list {
    position: absolute;
    top: 40px;
    min-width: 200px;
    z-index: 2;
    background: #fff;
    box-shadow: 2px 4px 20px 1px rgba(45, 45, 45, 0.13);
    padding: 25px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in;
    @include media(991px) {
      position: static;
      padding: 25px 0;
      visibility: hidden;
      opacity: 0;
      box-shadow: none;
    }
  }
  &__sub-item {
    position: relative;
    margin: 20px 0;
    overflow: hidden;
    @include minmedia(991px) {
      &:hover {
        .nav-menu__sub-link {
          span {
            transform: translateY(100%);
          }

          &::after {
            transform: translateY(0);
          }
        }
      }
    }
    @include media(991px) {
      &:first-child {
        border-top: 1px solid #d4d4e1;
      }
      border-bottom: 1px solid #d4d4e1;
      margin: 0;
      padding: 20px 0 20px 20px;
    }
  }
  &__sub-link {
    display: flex;
    align-items: center;

    span {
      display: inline-block;
      font-size: 16px;
      color: $textcolor;
      transform: translateY(0);
      transition: all 0.4s;
    }
    &::after {
      content: attr(data-name);
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-100%);
      width: 100%;
      transition: all 0.4s;
      font-size: 16px;
      color: $mainColor;
    }
  }
  &__search-label {
    display: block;
    position: relative;
    margin-bottom: 0;
    width: 200px;
    margin-left: auto;
    @include media(991px) {
      display: none;
    }
    &--active {
      @include media(991px) {
        position: absolute;
        top: -100%;
        left: -90%;
        display: block;
        width: 140%;
      }
    }
    &:hover {
      .nav-menu__group-icon--search {
        fill: $mainColor;
      }
    }
    input {
      padding: 0 15px;
      border-radius: 25px;
      border: 1px solid transparent;
      box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
      font-size: 13px;
      line-height: 25px;
      color: $textcolor;
      transition: all 0.1s ease-in;
      &:hover {
        box-shadow: 0 2px 8px 1px rgba(64, 60, 67, 0.24);
        border-color: rgba(223, 225, 229, 0);
        .nav-menu__group-icon--search {
          fill: $mainColor;
        }
      }
      @include media(991px) {
        width: 100%;
        line-height: 50px;
      }
    }
    span {
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      right: 15px;
      margin-top: -10px;
      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      path {
        fill: $mainColor;
      }
    }
  }
  &__group {
    position: relative;
    display: flex;
    @include media(991px) {
      width: 56px;
      margin-left: auto;
    }
  }
  &__group-icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: $time;
    &:hover {
      fill: $mainColor;
    }
    &--dots {
      margin-left: 20px;
    }
    &--search {
      display: block;
      &--active {
        display: none;
      }
    }
    &--cancel {
      display: none;
      &--active {
        display: block;
      }
    }
  }
  &__group-menu {
    position: absolute;
    top: 40px;
    right: 24px;
    padding: 1.5rem;
    background-color: #fff;
    font-size: 1rem;
    transition: $time;
    white-space: nowrap;
    z-index: 15;
    box-shadow: 2px 4px 20px 1px rgba(45, 45, 45, 0.13);

    opacity: 0;
    visibility: hidden;
    transform: translateX(30px);

    &--active {
      opacity: 1;
      visibility: visible;
      transform: none;
    }

    &-item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-icon {
      fill: $textcolor;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      &--twitter {
        margin-right: 0;
      }
    }
  }
  &__group-sub-menu {
    display: flex;
  }
  &__order1 {
    @include media(991px) {
      order: 1;
    }
  }
  &__order2 {
    @include media(991px) {
      order: 2;
    }
  }
  &__order3 {
    @include media(991px) {
      order: 3;
    }
  }
}

.our-services {
  padding: 70px 0;
  &__item {
    margin-bottom: 45px;
  }
  &__title {
    text-align: center;
    margin-bottom: 56px;
    p {
      color: $mainColor;
    }
  }
  &__btn {
    margin-top: 50px;
    text-align: center;
    .btn {
      width: 240px;
    }
  }
}

.popup {
  display: none;
  &__form-wrapp {
    position: relative;
    margin: auto;
    max-width: 418px;
    padding: 2.5rem 2.85rem;
    background: #fff;
    border-radius: 10px;
  }
  &__title {
    margin-bottom: 28px;
    color: $textcolor;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: none;
  }
  &__form {
    .btn--blue {
      width: 100%;
      .btn {
        width: 100%;
      }
    }
  }
  &__wrapp-input {
    position: relative;
    margin-bottom: 1.25rem;
    &::before {
      content: '*';
      position: absolute;
      top: 16px;
      right: 12px;
      color: red;
    }
  }
  &__input {
    width: 100%;
    height: 48px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    padding: 0 16px;
    border-radius: 6px;
    letter-spacing: 0.1px;
    text-overflow: ellipsis;
    border: 1px solid #d4d4e1;
    background-color: transparent;
    cursor: text;
  }
  &__time-box {
    margin-top: 24px;
  }
  &__time-text {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1px;
  }
  &__selects {
    display: flex;
    align-items: center;
    margin-top: 4px;
  }
  &__select-wrapp {
    position: relative;
    width: 145px;
    height: 48px;
  }
  &__select-arrow {
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 14px;
    width: 10px;
    height: 20px;
    margin-top: -10px;
    &::before,
    &::after {
      position: absolute;
      left: 0;
      content: '';
      width: 10px;
      height: 7px;
      background: url(../img/svg/icons/arrow-up.svg) no-repeat;
      background-size: contain;
      background-position: 50%;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
      transform: scaleY(-1);
    }
  }
  &__hyphen {
    margin: 0 16px;
  }
  &__select {
    width: 100%;
    height: 100%;
    color: #000;
    appearance: none;
    border-radius: 4px;
    padding: 0 30px 0 16px;
    background-color: #fff;
    border: 1px solid #a1a1a1;
    font-size: 16px;
    cursor: pointer;
    outline: none;
  }
  &__warning-text {
    color: #000;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    margin: 16px 0;
    span {
      color: red;
    }
  }
  &__checkbox {
    display: flex;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    padding: 0 0 0 36px;
    margin-bottom: 1.25rem;
  }
  &__checkbox-input {
    color: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    font-size: 16px;
    font-weight: 400;
    border-radius: 3px;
    padding: 0 6px 0 16px;
    letter-spacing: 0.1px;
    border: 1px solid #a1a1a1;
    background-color: transparent;
    &:checked ~ .popup__real-checkbox {
      background: $mainColor;
    }
    &:checked ~ .popup__real-checkbox:before {
      transform: scale(1);
    }
  }
  &__real-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    border: 1px solid #d4d4e1;
    background-color: #fff;
    transition: $time;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: scale(0);
      transition: $time;
      background: url(../img/svg/icons/check.svg) no-repeat 50%;
    }
  }
  &__checkbox-text {
    font-size: 13px;
    line-height: 1.3;
    a {
      color: $mainColor;
    }
  }
  &__btn {
    width: 100%;
    cursor: pointer;
    appearance: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin-top: 1.25rem;
    padding: 15px 54px;
    border-radius: 6px;
  }
}

.mfp-close {
  color: $textcolor !important;
  font-size: 35px;
  &:hover {
    transform: rotate(90deg);
    color: $mainColor !important;
  }
}

.projects-card {
  position: relative;
  display: block;
  height: 400px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 45px;
  &:hover {
    .projects-card__front {
      transform: rotateY(180deg);
      z-index: 1;
    }
    .projects-card__back {
      transform: rotateY(0);
      z-index: 2;
    }
  }
  &__front,
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.6s ease-out;
  }
  &__front {
    z-index: 2;
    transform: rotateY(0);
  }
  &__back {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2.5rem;
    background-color: $mainColor;
    height: 100%;
    transform: rotateY(180deg);
  }
  &__title {
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
    text-transform: none;
  }
  &__text {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #fff;
  }
  &__link {
    display: inline;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background: #fff;
    border-radius: 50%;
    margin: 0 auto;
    &:hover {
      background: #f0f4f8;
    }
  }
  &__icon {
    fill: $mainColor;
    width: 50%;
    height: 50%;
  }
}

.projects {
  background-color: $bgcolor;
  padding: 80px 0 35px 0;
  &__title {
    text-align: center;
    p {
      color: $mainColor;
    }
  }
  &__filters {
    margin: 60px 0;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    li {
      margin-right: 1.5rem;
      padding: 2px 5px;
      overflow: hidden;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        span {
          transform: translateY(100%);
        }
        button {
          &::after {
            transform: translateY(0);
          }
        }
      }
    }
    button {
      position: relative;
      border: none !important;
      background: none !important;
      span {
        display: inline-block;
        font-size: 16px;
        color: $textcolor;
        transform: translateY(0);
        transition: all 0.4s;
      }
      &::after {
        content: attr(data-name);
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-100%);
        width: 100%;
        transition: all 0.4s;
        font-size: 16px;
        color: $mainColor;
      }
    }
  }
  &__btn {
    margin-top: 50px;
    text-align: center;
    .btn {
      width: 240px;
    }
  }
}

.services-card {
  position: relative;
  display: block;
  padding: 24px;
  border-radius: 10px;
  transition: $time;
  @include media(767px) {
    max-width: 510px;
    margin: 0 auto;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #d2d2de;
    border-radius: 10px;
  }
  &:hover::after {
    border-color: transparent;
  }
  &:hover {
    color: #fff;
    background: $mainColor;
    .services-card__icon-wrapp {
      background: #fff;
    }
    .services-card__icon {
      fill: $mainColor;
    }
  }
  &__icon-wrapp {
    margin: 0 auto 16px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: $mainColor;
    transition: $time;
  }
  &__icon {
    fill: #fff;
    display: block;
    width: 50px;
    height: 50px;
    transition: $time;
  }
  &__title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
    text-transform: none;
  }
  &__text {
    text-align: center;
  }
}

.icon-facebook {
  fill: blue;
  display: block;
  width: 40px;
  height: 40px;
  &:hover {
    fill: red;
  }
}
