.contacts-line {
  padding: 10px 0;
  background-color: #3a2e33;
  &__mail {
    span {
      font-size: 1rem;
      opacity: 0.8;
    }
  }
  &__tel {
    span {
      font-size: 1rem;
      opacity: 0.8;
    }
  }
  &__social {
    display: flex;
    justify-content: flex-end;
    width: 120px;
    margin-left: auto;
    a {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      svg {
        width: 20px;
        height: 20px;
      }
      path {
        fill: white;
      }
    }
  }
}
