.contacts-line {
  padding: 10px 0;
  &__contacts {
    display: inline;
    a {
      span {
        color: #fff;
        font-size: 16px;
        opacity: 0.8;
        margin-left: 10px;
        transition: $time;
      }
      &:hover {
        span {
          transition: $time;
          opacity: 1;
        }
        .contacts-line__icon {
          transition: $time;
          opacity: 1;
        }
      }
    }
  }
  &__tel {
    margin-left: 20px;
  }
  &__social {
    display: flex;
    justify-content: flex-end;
    width: 120px;
    margin-left: auto;
    li {
      margin-right: 10px;
    }
    a {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      svg {
        opacity: 0.8;
        width: 20px;
        height: 20px;
        transition: $time;
        &:hover {
          opacity: 1;
          transition: $time;
        }
      }
      path {
        fill: white;
      }
    }
  }
  &__callback {
    display: inline;
    margin-left: 50px;
    &:hover {
      span,
      .contacts-line__icon {
        opacity: 1;
      }
      span {
        border-bottom: 1px solid #fff;
      }
    }
    span {
      border-bottom: 1px dashed #fff;
      color: #fff;
      margin-left: 5px;
      opacity: 0.8;
      transition: $time;
    }
  }
  &__icon {
    fill: #fff;
    width: 20px;
    height: 20px;
    opacity: 0.8;
    transition: $time;
  }
}
