.contacts-line {
  padding: 10px 0;
  &__contacts {
    display: inline;
    a {
      transition: $time;
      svg {
        opacity: 0.8;
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
      path {
        fill: white;
      }
      span {
        color: white;
        font-size: 16px;
        opacity: 0.8;
      }
      &:hover {
        color: white !important;
        transition: $time;
        svg,
        path,
        span {
          transition: $time;
          opacity: 1;
        }
      }
    }
  }
  &__tel {
    margin-left: 20px;
  }
  &__social {
    display: flex;
    justify-content: flex-end;
    width: 120px;
    margin-left: auto;
    a {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      svg {
        opacity: 0.8;
        width: 20px;
        height: 20px;
        transition: $time;
        &:hover {
          opacity: 1;
          transition: $time;
        }
      }
      path {
        fill: white;
      }
    }
  }
}
