/*Button Toggle Sidebar-Start*/
.hamburger {
  display: flex;
  width: 24px;
  height: 18px;
  justify-content: center;
  align-items: center;
}
.hamburger__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}
.hamburger__menu {
  width: 100%;
  height: 2px;
  background-color: $textcolor;
  &::before,
  &::after {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $textcolor;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
}
.hamburger__menu.hamburger__menu--active {
  background-color: transparent;
  &::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  &::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
}
/*Button Toggle Sidebar-End*/
/*Side bar - End*/
