/*Button Toggle Sidebar-Start*/
.hamburger {
  display: flex;
  width: 24px;
  height: 18px;
  justify-content: center;
  align-items: center;
  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  &__menu {
    width: 100%;
    height: 2px;
    background-color: $textcolor;
    transition: $time;
    &::before,
    &::after {
      position: absolute;
      content: '';
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $textcolor;
      transition: $time;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
  &__menu {
    &--active {
      background-color: transparent;
      &::before {
        top: 50%;
        margin-top: -1px;
        transform: rotate(45deg);
        transition: $time;
      }
      &::after {
        bottom: 50%;
        margin-bottom: -1px;
        transform: rotate(-45deg);
        transition: $time;
      }
    }
  }
}
/*Button Toggle Sidebar-End*/
/*Side bar - End*/
