.index-header {
  &__overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: $time;
    cursor: pointer;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.5;
    }
    &--active {
      display: block;
    }
  }
  &__top-contacts {
    background-color: #282725;
  }
  &__nav {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    height: 80px;
    z-index: 100;
    background: #fff;
    box-shadow: 0px 0px 14px 0px rgba(77, 82, 94, 0.15);
    &.nav-fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      .index-header__content {
        margin-top: 80px;
      }
    }
  }
  &__content {
    display: block;
    background: rgba(238, 120, 120, 0.61);

    &.content-fixed {
      margin-top: 80px;
    }
  }
  &__content-inner {
    height: 640px;
    /*Стили для слайдера БАЗОВЫЕ*/
    /* Слайдер */
    .slick-slider {
      height: 100%;
    } /* Слайдер запущен */
    .slick-slider.slick-initialized {
    } /* Слайдер с точками */
    .slick-slider.slick-dotted {
    }
    /* Ограничивающая оболочка */
    .slick-list {
      height: 100%;
      overflow: hidden;
    } /* Лента слайдов */
    .slick-track {
      display: flex;
      height: 100%;
    }
    /* Слайд */
    .slider__item {
      height: 100%;
    }
    .slider__slide1 {
      height: 100%;
      background: url(../img/src/slide-1.jpg) center / cover;
    }
    .slider__slide2 {
      height: 100%;
      background: url(../img/src/slide-2.jpg) center / cover;
    }
    .slider__slide3 {
      height: 100%;
      background: url(../img/src/slide-3.jpg) center / cover;
    }
    .slick-slide {
    } /* Слайд активный (показывается) */
    .slick-slide.slick-active {
    } /* Слайд основной */
    .slick-slide.slick-current {
    } /* Слайд по центру */
    .slick-slide.slick-center {
    } /* Клонированный слайд */
    .slick-slide.slick-cloned {
    }
    /* Стрелка */
    .slick-arrow {
    } /* Стрелка влево */
    .slick-arrow.slick-prev {
    } /* Стрелка вправо */
    .slick-arrow.slick-next {
    } /* Стрелка не активная */
    .slick-arrow.slick-disabled {
    }
    /* Точки (булиты) */
    .slick-dots {
    }
    .slick-dots li {
    } /* Активная точка */
    .slick-dots li.slick-active {
    } /* Элемент точки */
    .slick-dots li button {
    }
  }
  &__offer {
    text-align: center;
  }
  &__title {
    color: #fff;
    font-weight: bold;
    line-height: 50px;
    text-transform: none;
    opacity: 0.9;
  }
  &__text {
    max-width: 410px;
    margin-top: 40px;
    color: #fff;
    opacity: 0.9;
    margin: 50px auto;
  }
  &__buttons {
    text-align: center;
    @include media(577px) {
      .btn--black {
        display: block;
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
}
