.nav-menu {
  background-color: #fff;
  &__logo {
    img {
      width: 50px;
      height: 50px;
      display: inline-block;
    }
    span {
      margin-left: 10px;
      font-size: 19px;
      color: $textcolor;
      font-weight: bold;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item {
    position: relative;
    margin-right: 50px;
    padding: 10px 0;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      .nav-menu__link {
        span {
          transform: translateY(100%);
        }
        img {
          transform: rotate(0deg);
        }
        &::after {
          transform: translateY(0);
        }
      }
      .nav-menu__sub-list {
        visibility: visible;
        opacity: 1;
        transition: all 0.2s ease-in;
      }
    }
  }
  &__link {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: $textcolor;
    overflow: hidden;
    span {
      transform: translateY(0);
      transition: all 0.4s;
    }
    img {
      margin-left: 5px;
      width: 15px;
      height: 15px;
      transform: rotate(180deg);
    }
    &::after {
      content: attr(data-title);
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-100%);
      width: 100%;
      transition: all 0.4s;
      color: $mainColor;
    }
  }
  &__sub-list {
    position: absolute;
    top: 40px;
    min-width: 200px;
    z-index: 2;
    background: #fff;
    box-shadow: 2px 4px 20px 1px rgba(45, 45, 45, 0.13);
    padding: 25px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in;
  }
  &__sub-item {
    position: relative;
    margin: 20px 0;
    overflow: hidden;
    &:hover {
      .nav-menu__sub-link {
        span {
          transform: translateY(100%);
        }

        &::after {
          transform: translateY(0);
        }
      }
    }
  }
  &__sub-link {
    display: flex;
    align-items: center;

    span {
      display: inline-block;
      font-size: 16px;
      color: $textcolor;
      transform: translateY(0);
      transition: all 0.4s;
    }
    &::after {
      content: attr(data-name);
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-100%);
      width: 100%;
      transition: all 0.4s;
      font-size: 16px;
      color: $mainColor;
    }
  }
  &__search-label {
    display: block;
    position: relative;
    margin-bottom: 0;
    width: 200px;
    margin-left: auto;
    input {
      padding: 0 15px;
      border-radius: 25px;
      border: 1px solid transparent;
      box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
      font-size: 13px;
      line-height: 25px;
      color: $textcolor;
      transition: all 0.1s ease-in;
      &:hover {
        box-shadow: 0 2px 8px 1px rgba(64, 60, 67, 0.24);
        border-color: rgba(223, 225, 229, 0);
      }
    }
    span {
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      right: 15px;
      margin-top: -10px;
      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      path {
        fill: $mainColor;
      }
    }
  }
}
