.nav-menu {
  background-color: #fff;
  &__logo {
    @include media(991px) {
      margin-right: -95px;
    }
    img {
      width: 50px;
      height: 50px;
      display: inline-block;
    }
    span {
      margin-left: 10px;
      font-size: 19px;
      color: $textcolor;
      font-weight: bold;
    }
  }
  &__list-wrapp {
    transition: $time;
    @include media(991px) {
      position: relative;
      min-height: 100vh;
      background: #fff;
      display: block;
      position: absolute;
      top: 15px;
      left: -322px;
      width: 100%;
      max-width: 320px;
      font-size: 16px;
      &--active {
        left: 0;
      }
    }
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    @include media(991px) {
      display: block;
      background: #f0f4f8;
      overflow-y: auto;
    }
  }
  &__item {
    position: relative;
    margin-right: 50px;
    padding: 10px 0;
    &:last-child {
      margin-right: 0;
    }
    @include minmedia(991px) {
      &:hover {
        .nav-menu__link {
          span {
            transform: translateY(100%);
          }
          img {
            transform: rotate(0deg);
          }
          &::after {
            transform: translateY(0);
          }
        }
        .nav-menu__sub-list {
          visibility: visible;
          opacity: 1;
          transition: all 0.2s ease-in;
        }
      }
    }
    @include media(991px) {
      max-height: 50px;
      margin-right: 0px;
      border-bottom: 1px solid #fff;
      overflow: hidden;
      transition: $time;
      padding: 0;
      &--active {
        max-height: 500px;
        .nav-menu__link-wrapp {
          background-color: #2c7ae7;
        }
        .nav-menu__link {
          span {
            color: #fff;
          }
        }
        .nav-menu__icon {
          fill: #fff;
          transform: rotate(180deg);
        }
        .nav-menu__sub-list {
          visibility: visible;
          opacity: 1;
        }
      }
      &:first-child {
        padding-top: 0;
      }
    }
  }
  &__link-wrapp {
    @include media(991px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 0 0 20px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: $textcolor;
    overflow: hidden;
    span {
      transform: translateY(0);
      transition: all 0.4s;
    }
    img {
      margin-left: 5px;
      width: 15px;
      height: 15px;
      transform: rotate(180deg);
      transition: $time;
      @include media(991px) {
        display: none;
      }
    }
    &::after {
      content: attr(data-title);
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-100%);
      width: 100%;
      transition: all 0.4s;
      color: $mainColor;
    }
    @include media(991px) {
      line-height: 50px;
      white-space: nowrap;
      display: flex;
      justify-content: space-between;
    }
  }
  &__wrapp-img {
    display: none;
    @include media(991px) {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 17%;
      height: 50px;
      border-left: 1px solid #fff;
    }
  }
  &__icon {
    width: 12px;
    height: 12px;
  }
  &__sub-list {
    position: absolute;
    top: 40px;
    min-width: 200px;
    z-index: 2;
    background: #fff;
    box-shadow: 2px 4px 20px 1px rgba(45, 45, 45, 0.13);
    padding: 25px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in;
    @include media(991px) {
      position: static;
      padding: 25px 0;
      visibility: hidden;
      opacity: 0;
      box-shadow: none;
    }
  }
  &__sub-item {
    position: relative;
    margin: 20px 0;
    overflow: hidden;
    @include minmedia(991px) {
      &:hover {
        .nav-menu__sub-link {
          span {
            transform: translateY(100%);
          }

          &::after {
            transform: translateY(0);
          }
        }
      }
    }
    @include media(991px) {
      &:first-child {
        border-top: 1px solid #d4d4e1;
      }
      border-bottom: 1px solid #d4d4e1;
      margin: 0;
      padding: 20px 0 20px 20px;
    }
  }
  &__sub-link {
    display: flex;
    align-items: center;

    span {
      display: inline-block;
      font-size: 16px;
      color: $textcolor;
      transform: translateY(0);
      transition: all 0.4s;
    }
    &::after {
      content: attr(data-name);
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-100%);
      width: 100%;
      transition: all 0.4s;
      font-size: 16px;
      color: $mainColor;
    }
  }
  &__search-label {
    display: block;
    position: relative;
    margin-bottom: 0;
    width: 200px;
    margin-left: auto;
    &:hover {
      .nav-menu__group-icon--search {
        fill: $mainColor;
      }
    }
    input {
      padding: 0 15px;
      border-radius: 25px;
      border: 1px solid transparent;
      box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
      font-size: 13px;
      line-height: 25px;
      color: $textcolor;
      transition: all 0.1s ease-in;
      &:hover {
        box-shadow: 0 2px 8px 1px rgba(64, 60, 67, 0.24);
        border-color: rgba(223, 225, 229, 0);
        .nav-menu__group-icon--search {
          fill: $mainColor;
        }
      }
    }
    span {
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      right: 15px;
      margin-top: -10px;
      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      path {
        fill: $mainColor;
      }
    }
  }
  &__group {
    display: flex;
    @include media(991px) {
      width: 56px;
      margin-left: auto;
    }
  }
  &__group-icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: $time;
    &:hover {
      fill: $mainColor;
    }
    &--dots {
      margin-left: 20px;
    }
  }
  &__order1 {
    @include media(991px) {
      order: 1;
    }
  }
  &__order2 {
    @include media(991px) {
      order: 2;
    }
  }
  &__order3 {
    @include media(991px) {
      order: 3;
    }
  }
}
