extends ../temp/main
block title 
  title Home
block content
  include ../blocks/popup
  include ../blocks/index-header
  include ../blocks/our-services
  include ../blocks/choose
  include ../blocks/merit
  include ../blocks/projects
  include ../blocks/our-team
  include ../blocks/people-say
  include ../blocks/latest-news
prepend scripts
  script(src='js/libs.min.js')