.choose 
  .container
    .row 
      .col-12
        .choose__title
          p SOME REASONS
          h2 Why Choose Us
    .row 
      .col-md-6.col-lg-4.choose__item
        +choose-card('01', 'High Quality Hardware', 'We use top-notch hardware to develop the most efficient apps for our customers.')
      .col-md-6.col-lg-4.choose__item
        +choose-card('02', 'Dedicated 24/7 Support', 'You can rely on our 24/7 tech support that will gladly solve any app issue you may have.')
      .col-md-6.col-lg-4.choose__item
        +choose-card('03', '30-Day Money-back Guarantee', 'If you are not satisfied with our apps, we will return your money in the first 30 days.')
      .col-md-6.col-lg-4
        +choose-card('04', 'Agile and Fast Working Style', 'This type of approach to our work helps our specialists to quickly develop better apps.')
      .col-md-6.col-lg-4
        +choose-card('05', 'Some Applications are Free', 'We also develop free apps that can be downloaded online without any payments.')
      .col-md-6.col-lg-4
        +choose-card('06', 'High Level of Usability', 'All our products have high usability allowing users to easily operate the apps.')      