.contacts-line.d-none.d-lg-block
  .row 
    .col-lg-6 
      .contacts-line__mail.contacts-line__contacts
        a(href="mailto:mail@example.com")
          +icon('mail', 'contacts-line__icon')
          span mail@example.com
      .contacts-line__tel.contacts-line__contacts
        a(href="tel:+78003001020") 
          +icon('phone', 'contacts-line__icon')
          span 8 800 312 11 51
    .col-lg-6.d-flex
      ul.contacts-line__social
        li
          a(href="http://", target="_blank", title="facebook") 
            +icon('facebook-f', 'contacts-line__icon')
        li
          a(href="http://", target="_blank", title="instagram")
            +icon('instagram', 'contacts-line__icon')
        li
          a(href="http://", target="_blank", title="linkedin")
            +icon('linkedin', 'contacts-line__icon')
        li
          a(href="http://", target="_blank", title="twitter")
            +icon('twitter', 'contacts-line__icon')
      a(href="#" class="contacts-line__callback")
        +icon('call-back', 'contacts-line__icon')
        span Callback