footer.footer 
  .row 
    .col-lg-3 
      .footer__logo
      .footer__text 
      .footer__socisal 
    .col-lg-3 
      .footer__menu 
    .col-lg-3 
      .footer__offer 
    .col-lg-3 
      .footer__contacts 
  .row 
    .col-lg-6
      .footer__private-policy 
    .col-lg-6
      .footer__rights

