// Header
header.index-header
  .index-header__overlay
  .index-header__top-contacts
    .container
      include ../blocks/contacts-line
  .index-header__nav
    .container 
      include ../blocks/nav-menu
  // Offer
  .index-header__content
    .index-header__content-inner
      .slider
        .slider__item
          .slider__slides.slider__slides--1
            .container
              .index-header__offer
                h1 IT Solution for Your Business
                p The template you will be able to create a site for your business. The template has many different blocks from which you can create your own unique site.
                .index-header__buttons
                  .btn--blue
                    +btn('UI elements')
                  .btn--black 
                    +btn('Get in Touch')
        .slider__item
          .slider__slides.slider__slides--2
            .container
              .index-header__offer
                h1 IT Solution for Your Business
                p Since our establishment, we have been delivering high-quality and sustainable software solutions for corporate business purposes.
                .index-header__buttons
                  .btn--blue
                    +btn('UI elements')
                  .btn--black 
                    +btn('Get in Touch')
        .slider__item
          .slider__slides.slider__slides--3
            .container
              .index-header__offer
                h1 IT Solution for Your Business
                p The template you will be able to create a site for your business. The template has many different blocks from which you can create your own unique site.
                .index-header__buttons
                  .btn--blue
                    +btn('UI elements')
                  .btn--black 
                    +btn('Get in Touch')
  // /Offer
// /Header     

    
              