// Header
header.index-header
  .index-header__overlay
  .index-header__top-contacts
    .container
      include ../blocks/contacts-line
  .index-header__nav
    .container 
      include ../blocks/nav-menu
  // Offer
  .index-header__content
    .index-header__content-inner
      .slider
        .slider__item
          .slider__slide1
        .slider__item
          .slider__slide2
        .slider__item
          .slider__slide3

              //- .wrapp-btn2
              //-   include ../blocks/btn2
        //- .index-header__buttons
        //-   .btn--blue
        //-     include ../blocks/btn
        //-   .btn--black
        //-     include ../blocks/btn
  // /Offer
// /Header     

    
              