header.index-header
  .index-header__top-contacts
    .container
      include ../blocks/contacts-line
  .index-header__nav
    .container 
      include ../blocks/nav-menu
  .index-header__overlay
    .container
      .row
        .col-12
          .index-header__offer
            h1.index-header__title 
              | Механизированная штукатурка 
              span  стен потолков и откосов
              br
              | в Москве и МО
            p.index-header__text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo ad, exercitationem laudantium doloremque dolorum commodi ut fugiat eius ex odio maxime deleniti nostrum, hic facere accusantium et dolor error minima.
            .index-header__buttons
              a(class="index-header__btn index-header__btn--blue" href="#") UI elements
                include ../svg/right-arrow
            