header.index-header
  .index-header__overlay
  .index-header__top-contacts
    .container
      include ../blocks/contacts-line
  .index-header__nav
    .container 
      include ../blocks/nav-menu
  .index-header__content
    .index-header__content-inner
      .container
        .row
          .col-12
            .index-header__offer
              h1.index-header__title IT Solution for Your Business
              p.index-header__text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo ad, exercitationem laudantium doloremque dolorum commodi ut fugiat eius ex odio maxime deleniti nostrum, hec.
        .index-header__buttons
          .btn--blue
            include ../blocks/btn
          .btn--black
            include ../blocks/btn
        

    
              