// Merit
section.merit 
  .container
    .row 
      .col-lg-7
        .merit__years
          .merit__years-wrapp
            span.merit__years-number 10
            p.merit__years-text Years 
              br
              | Of Experience
      .col-lg-5
        .merit__skills 
          ul.merit__list
            li
              span.merit__skills-number 2K
              p.merit__skills-text Ğpps Developed
            li
              span.merit__skills-number 40
              p.merit__skills-text Consultans
            li
              span.merit__skills-number 160
              p.merit__skills-text Employers