// Merit
section.merit.merit__not-animate 
  .container
    .row 
      .col-lg-7.col-12
        .merit__years
          .merit__years-wrapp
            span.merit__years-number 10
            p.merit__years-text Years 
              br
              | Of Experience
      .col-lg-5.col-12
        .merit__skills 
          ul.merit__list
            li
              span.merit__skills-number 2K
              p.merit__skills-text Аpps Developed
            li
              span.merit__skills-number.merit__skills-consultans 40
              p.merit__skills-text Consultans
            li
              span.merit__skills-number.merit__skills-employers 160
              p.merit__skills-text Employers