// Nav-menu
.nav-menu
  .row.align-items-center
    .col-6.nav-menu__order1.col-lg-3.d-flex.justify-content-between.align-items-center
      include ../blocks/hamburger
      // Logo
      a(class= "nav-menu__logo" href="#")
        img(src="img/src//gem.png", alt="logo")
        span MasterSoft
      // /Logo
    .col-12.nav-menu__order3.col-lg-6 
      // Menu
      .nav-menu__list-wrapp
        ul.nav-menu__list 
          li.nav-menu__item
            .nav-menu__link-wrapp
              a(class="nav-menu__link" href="#" data-title="Home") 
                span Home
                img(src="img/src/up.svg", alt="arrow")
              .nav-menu__wrapp-img
                +icon('arrow-down', 'nav-menu__icon')
            ul.nav-menu__sub-list 
                li.nav-menu__sub-item
                  a(class="nav-menu__sub-link" href="#" data-name="Home 1") 
                    span Home 1
                li.nav-menu__sub-item
                  a(class="nav-menu__sub-link" href="#" data-name="Home 2") 
                    span Home 2
                li.nav-menu__sub-item
                  a(class="nav-menu__sub-link" href="#" data-name="Home 3") 
                    span Home 3
                li.nav-menu__sub-item
                  a(class="nav-menu__sub-link" href="#" data-name="Home 4") 
                    span Home 4
          li.nav-menu__item
            .nav-menu__link-wrapp
              a(class="nav-menu__link" href="#" data-title="Services") 
                span Services
                img(src="img/src/up.svg", alt="arrow")
              .nav-menu__wrapp-img
                +icon('arrow-down', 'nav-menu__icon')
            ul.nav-menu__sub-list 
                li.nav-menu__sub-item
                  a(class="nav-menu__sub-link" href="#" data-name="Services 1") 
                    span Services 1
                li.nav-menu__sub-item
                  a(class="nav-menu__sub-link" href="#" data-name="Services 2") 
                    span Services 2
                li.nav-menu__sub-item
                  a(class="nav-menu__sub-link" href="#" data-name="Services 3") 
                    span Services 3
                li.nav-menu__sub-item
                  a(class="nav-menu__sub-link" href="#" data-name="Services 4") 
                    span Services 4
          li.nav-menu__item
            .nav-menu__link-wrapp
              a(class="nav-menu__link" href="#" data-title="Gallery") 
                span Gallery
                img(src="img/src/up.svg", alt="arrow")
              .nav-menu__wrapp-img
                +icon('arrow-down', 'nav-menu__icon')
            ul.nav-menu__sub-list 
                li.nav-menu__sub-item
                  a(class="nav-menu__sub-link" href="#" data-name="Gallery 1") 
                    span Gallery 1
                li.nav-menu__sub-item
                  a(class="nav-menu__sub-link" href="#" data-name="Gallery 2") 
                    span Gallery 2
                li.nav-menu__sub-item
                  a(class="nav-menu__sub-link" href="#" data-name="Gallery 3") 
                    span Gallery 3
                li.nav-menu__sub-item
                  a(class="nav-menu__sub-link" href="#" data-name="Gallery 4") 
                    span Gallery 4
          li.nav-menu__item
            .nav-menu__link-wrapp
              a(class="nav-menu__link" href="contacts.html" data-title="Contacts") 
                span Contacts
                img(src="img/src/up.svg", alt="arrow")
              .nav-menu__wrapp-img
                +icon('arrow-down', 'nav-menu__icon')
            ul.nav-menu__sub-list 
                li.nav-menu__sub-item
                  a(class="nav-menu__sub-link" href="#" data-name="Contacts 1") 
                    span Contacts 1
                li.nav-menu__sub-item
                  a(class="nav-menu__sub-link" href="#" data-name="Contacts 2") 
                    span Contacts 2
      // /Menu  
    .col-6.nav-menu__order2.col-lg-3
      // Search bar 
      label(class="nav-menu__search-label" for="search-bar")
        input(type="text")
        span.nav-menu__search-icon
          +icon('search', 'nav-menu__group-icon', 'nav-menu__group-icon--input-search')
      // /Search bar
      // Group
      .nav-menu__group.d-lg-none
        +icon('search', 'nav-menu__group-icon', 'nav-menu__group-icon--search')
        +icon('cancel', 'nav-menu__group-icon', 'nav-menu__group-icon--cancel')
        +icon('dots-vertical', 'nav-menu__group-icon', 'nav-menu__group-icon--dots')
        ul.nav-menu__group-menu
          li.nav-menu__group-menu-item
            a(href="mailto:mail@example.com" class="nav-menu__group-menu-link")
              +icon('mail', 'nav-menu__group-menu-icon')
              span mail@example.com 
          li.nav-menu__group-menu-item
            a(href="tel:+78003001020" class="nav-menu__group-menu-link") 
              +icon('phone', 'nav-menu__group-menu-icon')
              span 8 800 312 11 51 
          li.nav-menu__group-menu-item
            a(href="#" class="nav-menu__group-menu-link") 
              +icon('call-back', 'nav-menu__group-menu-icon')
              span Callback
          li.nav-menu__group-menu-item
            ul.nav-menu__group-sub-menu
              li.nav-menu__group-sub-menu-item 
                a(href="http://", target="_blank", title="facebook" class="nav-menu__group-sub-menu-link") 
                  +icon('facebook-f', 'nav-menu__group-menu-icon')
              li.nav-menu__group-sub-menu 
                a(href="http://", target="_blank", title="instagram" class="nav-menu__group-sub-menu-link") 
                  +icon('instagram', 'nav-menu__group-menu-icon')
              li.nav-menu__group-sub-menu 
                a(href="http://", target="_blank", title="linkedin" class="nav-menu__group-sub-menu-link") 
                  +icon('linkedin', 'nav-menu__group-menu-icon')
              li.nav-menu__group-sub-menu 
                a(href="http://", target="_blank", title="twitter" class="nav-menu__group-sub-menu-link") 
                  +icon('twitter', 'nav-menu__group-menu-icon nav-menu__group-menu-icon--twitter')
      // /Group
// /Nav-menu
    
