// Our team
section.our-team
  .container
    .row 
      .col-12
        .our-team__title
          p WHO WE ARE
          h2 Meet The Team
    .row 
      .col-lg-3 
        +our-team-card
      .col-lg-3
        +our-team-card
      .col-lg-3
        +our-team-card
      .col-lg-3
        +our-team-card