// Services
section.our-services
  .container
    .row 
      .col-12
        .our-services__title
          p AREAS WHAT WE SERV
          h2 Our Services
    .row 
      .col-md-6.col-lg-4.our-services__item
        +services-card('settings', 'Corporate Solution', 'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots	in a piece of classical Latin literature from 45 BC, making it over 2000 years old.')
      .col-md-6.col-lg-4.our-services__item
        +services-card('phone-call', 'Call Center Solutions', 'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots	in a piece of classical Latin literature from 45 BC, making it over 2000 years old.')
      .col-md-6.col-lg-4.our-services__item
        +services-card('success', 'Cloud Development', 'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots	in a piece of classical Latin literature from 45 BC, making it over 2000 years old.')
      .col-md-6.col-lg-4.our-services__item
        +services-card('laptop', 'IOS/MacOS Apps', 'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots	in a piece of classical Latin literature from 45 BC, making it over 2000 years old.')
      .col-md-6.col-lg-4.our-services__item
        +services-card('mobile-phone', 'Android Applications', 'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots	in a piece of classical Latin literature from 45 BC, making it over 2000 years old.')
      .col-md-6.col-lg-4.our-services__item
        +services-card('monitor', 'UX And Design', 'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots	in a piece of classical Latin literature from 45 BC, making it over 2000 years old.')
    .our-services__btn
      .btn--blue
        +btn('See All Services')
// /Services       