// Latest projects
section.projects 
  .container
    .row
      .col-12
        .projects__title
          p OUR WORKS
          h2 Latest Projects
    .row
      .col-12 
        .projects__filters 
          ul 
            li 
              button(data-name="ALL")
                span ALL
            li 
              button(data-name="MOBILE APPS") 
                span MOBILE APPS
            li 
              button(data-name="CUSTOM SOFTWARE")
                span CUSTOM SOFTWARE
            li 
              button(data-name="QA & TESTING") 
                span QA & TESTING
            li 
              button(data-name="UX AND DESIGN") 
                span UX AND DESIGN
    .row
      .col-lg-4
        +projects-card('img/src/house-1.jpg', 'MPlanner', 'We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.')
      .col-lg-4
        +projects-card('img/src/house-2.jpg', 'WeatherNow', 'We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.')
      .col-lg-4
        +projects-card('img/src/house-3.jpg', 'Langer Messenger', 'We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.')
      .col-lg-4
        +projects-card('img/src/house-4.jpg', 'Mobile Finance', 'We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.')
      .col-lg-4
        +projects-card('img/src/house-5.jpg', 'RaptCash', 'We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.')
      .col-lg-4
        +projects-card('img/src/house-6.jpg', 'Search by photo', 'We work hard on every app to deliver top-notch features with great UI that you won’t find anywhere else.')
    .projects__btn
      .btn--blue
        +btn('See All Projects')