$out: 1px solid red !important;
$time: 0.3s ease-in-out;

/* ------ Fonts ------ */
$font: 'Open Sans', sans-serif;

/* ------ Colors ------ */
$mainColor: #32a3ff;
$textcolor: #303036;
$bgcolor: #101010;

/* ------ Opacity ------ */
$opacity: 0.8;
