$out: 1px solid red !important;
$time: 0.3s ease-in-out;

/* ------ Fonts ------ */
$font: 'Montserrat', sans-serif;

/* ------ Colors ------ */
$mainColor: #2c7ae7;
$textcolor: #303036;
$bgcolor: #f0f4f8;

/* ------ Opacity ------ */
$opacity: 0.8;
